#topPanel {
    -fx-background-image: url("../img/patt01.png");
    -fx-background-position: left top;
    -fx-background-repeat: repeat;
}
#bottomPanel {
    -fx-background-image: url("../img/patt01.png");
    -fx-background-position: left top;
    -fx-background-repeat: repeat;
}
#btn1 {
    -fx-border-radius: 24px;
    -fx-border-color: #6cbed7;
    /*-fx-background-color: #cdcdcd;*/
    -fx-background-color: transparent;
    -fx-background-image:url("../img/btnArr1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 1.5em;
    -fx-background-radius: 25em;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-color: #6cbed7;
}
#btn1:hover{
    /*-fx-background-color: #b8d3db;*/
    -fx-min-width: 50px;
    -fx-min-height: 25px;
    -fx-max-width: 50px;
    -fx-max-height: 25px;
    -fx-font-weight: bold;
    -fx-color: #6cbed7;
    -fx-font-size: 12px;
    -fx-text-alignment: right;
    -fx-background-image: none;
    /*-fx-background-position: left;*/
}
#btn1:pressed{
    -fx-font-size: 9px;
}
#btn2{-fx-border-radius: 24px;
    -fx-border-color: #6cbed7;
    /*-fx-background-color: #cdcdcd;*/
    -fx-background-color: transparent;
    -fx-background-image:url("../img/btnArr1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 1.5em;
    -fx-background-radius: 25em;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-color: #6cbed7;
}
#btn2:hover{
    /*-fx-background-color: #b8d3db;*/
    -fx-min-width: 50px;
    -fx-min-height: 25px;
    -fx-max-width: 50px;
    -fx-max-height: 25px;
    -fx-font-weight: bold;
    -fx-color: #6cbed7;
    -fx-font-size: 12px;
    -fx-text-alignment: right;
    -fx-background-image: none;
    /*-fx-background-position: left;*/
}
#btn2:pressed{
    -fx-font-size: 9px;
}


#textArea{
    -fx-border-color: #6cbed7;
    -fx-border-radius: 25px, 50px;
    -fx-background-image: url("../img/patt01.png");
    -fx-background-position: left top;
    -fx-background-repeat: repeat;
    -fx-padding: 20px;
    -fx-width: 200px;
    -fx-height: 150px;
}
#textField{
    -fx-border-radius: 25px, 50px;
    -fx-border-color: #6cbed7;
    -fx-background-color: transparent;
}